/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #5267df;
    color: white;
    text-align: center;
    width: auto;
    margin-top: 2rem;
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.footer__e-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 1.5rem;
}

.footer input[type="search"] {
    padding: .8rem;
    border-radius: 5px;
    border: none;
    width: 200px;
    font-weight: bold;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: #242a45;
    padding: 1.5rem 3rem;
}

.footer__link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.footer__logo {
    width: 100%;
    max-width: 148px;
}