@use '../base/variables';
@use '../base/mixins';

.browsers {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    
    &__header {
        text-align: center;
        margin: 2rem 6rem;
        gap: 1rem;

        @media only screen and (min-width: 768px) {
            margin: 2rem 20rem;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        
        &-card--chrome,
        &-card--firefox,
        &-card--opera {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 3rem;
            margin: 3rem;
            padding: 2rem;
            border-radius: 5px;
            height: 60rem;

            &-logo {
                width: 100%;
                max-width: 120px;
                align-self: center;
            }
        }

        @media only screen and (max-width: 768px) {
            flex-direction: column;
            margin: auto 10rem;
        }
    }
}