@use '../base/variables';
@use '../base/mixins';

.button {
    background-color: variables.$primary-color;
    color: variables.$button-text;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2rem 2.5rem;
    border: 2px solid variables.$primary-color;
    border-radius: .5rem;
    margin-top: 1rem;

    &:hover {
        @include mixins.button-hover(variables.$button-text, variables.$primary-color);
    }

    &--alt {
        background-color: variables.$secondary-color;
        color: variables.$button-text;
        padding: 1.5rem 2.5rem;
        border: 2px solid variables.$secondary-color;
        border-radius: .5rem;
        font-size: 1.6rem;
        padding: 1.5rem 3rem;

        &:hover {
            @include mixins.button-hover(variables.$button-text, variables.$secondary-color);
        }
    }
}