@use '../base/variables';
@use '../base/mixins';

.features {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;

        &-title {
            margin-bottom: 1rem;
        }

        &-text {
            margin-bottom: 3rem;
        }

        &-selectors{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: .6rem;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            &-button {
                background-color: transparent;
                color: variables.$light-text;
                padding: 1rem 2rem;
                border: .2rem solid transparent;
                border-bottom: .2rem solid variables.$light-text;
                font-weight: bold;
                font-size: 1.5rem;

                &:hover {
                    @include mixins.features-hover(
                        variables.$secondary-color
                    );
                }
            }

            hr {
                display: none;
            }

            @media only screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;

                &-button {
                    padding: 2.5rem;
                }
                
                hr {
                    display: flex;
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    &__container {
        &-content {
            display: flex;
            justify-content: space-between;
            gap: 6rem;
            margin: 3rem auto;

            &-text {
                margin: auto 6rem;
            }

            &--2,
            &--3 {
                display: none;
            }

            &-button {
                margin: 2rem auto;
            }

            @media only screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 3rem 6rem;
                
                &--2,
                &--3 {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        text-align: center;
    }
}