@use '../base/variables';
@use '../base/mixins';

.features {
    display: flex;
    flex-direction: column;

    &__header {
        align-items: center;
        text-align: center;
        margin: 0 9rem;

        @media only screen and (min-width: 800px) {
            margin: 0 15rem;
        }
    }

    &__container {
        &-selectors{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            margin: 0 6rem;

            &-button {
                background-color: transparent;
                margin: 2rem auto;
                color: variables.$light-text;
                padding: 2.5rem;
                border: .2rem solid transparent;
                font-weight: bold;
                font-size: 1.5rem;

                &:hover {
                    @include mixins.features-hover(
                        variables.$secondary-color
                    );
                }
            }
        }

        &-content {
            display: flex;
            justify-content: center;
            gap: 6rem;

            &-text {
                margin: auto 6rem;
            }

            &--2,
            &--3 {
                display: none;
            }

            &-button {
                margin: 2rem;
            }

            @media only screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: auto 9rem;
                
                &--2,
                &--3 {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        text-align: center;
    }
}