@use '../base/variables';
@use '../base/mixins';

.hero {
    display: flex;
    margin: 8rem auto;
    gap: 5rem;
    
    &__content {
        flex: 1;

        &-btns {
            display: flex;
            align-items: flex-start;
            margin: 3rem 0;
            gap: 3rem;
        }
    }

    &__image {
        flex: 1;
        position: relative;
    }

    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__content {
            text-align: center;
            margin: 0 6rem;

            &-btns {
                justify-content: space-evenly;
            }
        }
    }
}