@use 'text';
@use 'button';
@use 'mobile-queries';

body {
    font-family: text.$primary-font;
    color: text.$text-color;
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: text.$text-color;
}

.button {
    @include button.button-base(button.$primary-color, text.$button-text);

    &:hover {
        @include button.button-hover(text.$button-text, button.$primary-color);
    }
}

.button--alt {
    @include button.button-base(button.$secondary-color, text.$button-text);

    &:hover {
        @include button.button-hover(text.$button-text, button.$secondary-color);
    }
}

